* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    position: relative;
    height: 1000vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--cp-color-17);
    font-family: 'Poppins', sans-serif;
}
a:link,
a:hover {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  position: fixed;
  top: 0%;
  right: 0%;
  height: 80px;
  width: 100%;
  z-index: 5;
}

.navbar .navbar__brand {
  width: 300px;
  margin-left: 30px;
}
.navbar .navbar__brand img {
  width: 100%;
}

.navbar .navbar__links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar .navbar__links ul li a {
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  background-color: #5A5F73;
  padding: 10px;
  margin-right: 50px;
}
main {
    margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.form {
  position: relative;
  top: 75px;
background-color: #292847;
color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 190px;
  width: 600px;
  border-radius: 5px;
}
.form h2 {
  font-family: "Segoe UI", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  padding: 40px;
}

.form form input {
  width: 100%;
  padding: 5px 4px 5px 5px;
  border-radius: 5px;
  border-style: solid;
  height: 40px;
  font-size: 16px;
  margin-bottom: 15px;
}

.form form input[type="radio"] {
  border-radius: 5px;
  border-style: solid;
  height: 25px;
  font-size: 16px;
  justify-content: right;
  align-self: flex-start;
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.form form select {
  width: 100%;
  padding: 5px 4px 5px 5px;
  border-radius: 5px;
  border-style: solid;
  height: 40px;
  font-size: 14px;
  margin-bottom: 15px;
}
.form form select::content {
    background-color: #fff;
    color: black;
}
.form form label {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.form form input[type="submit"] {
  background-color: #37AF65;
  transition: all 0.2s ease-in-out;
  padding: 12px 25px;
  margin:10px;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  width: 100%;
  color: #fff;
}
.form form input[type="submit"]:hover {
  background-color: #37AF65;
}
